<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    <div id="totop">
        <a href="#top" class="top" title="top">TOP</a>
    </div>

    <div class="wrapper">
        <hr size="2" color="#e1e1e1" width="100%">
        <br>
        <br>
        <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript">
            var uyan_config = {
                'title': '',
                'url': '',
                'pic': '',
                'vid': '',
                'du': '',
                'su': ''
            };
        </script>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1967010"></script>
        <!-- UY END -->
    </div>

    {% include footer.html %}




</body>

</html>
